.form-login { 
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    .form-container { 
        padding: 2rem 1rem;
    }
    .header { 
        margin: 30px 0;
        padding: 20px;
        text-align: center;
        font-size: 40px;
    }
}

.full-width-field { 
    width: 100%;
}